<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="IlhaBelaCs" connectionString="data source=s18.winhost.com;initial catalog=DB_90650_hotelv2;persist security info=True;user id=DB_90650_hotelv2_user;password=q1w2e3r4;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>